name: Playwright QA

on:
  workflow_dispatch:
  push:

jobs:
  run-playwright:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo 22f3002956@ds.study.iitm.ac.in
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Playwright
        run: |
          npm init -y
          npm install playwright

      - name: Run scrape
        run: |
          node scrape.js
